@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F0F0F0;
}

.App {
  text-align: center;

  font: 16px "Open Sans", sans-serif;
}

/* header & navigation */

.header {
  display: flex;
  justify-content: flex-start;
  align-items:center;
  margin-bottom: 40px;
  height: 70px;

  font-family: "Roboto", serif;
  background: #107896;
}

.logo-container {
  background: url('../src/assets/kala2.png');
  height: 40px;
  width: 90px;
  margin-left: 1em;
}

.navigation {
  margin-left: 1em;
}


.navigation__link {
  display:inline-block;
  padding-bottom: 2px;
  margin-left: 1em;
  color: #fff;
  text-decoration: none;
}

.navigation__link_active {
  color: #F58B4C;
}

.navigation__link:hover {
  padding-bottom: 1px;
  border-bottom:1px solid #F58B4C;
}


/*content */


.content {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  width: 600px;
}

.container__title {
  display: flex;
  align-content: flex-start;
  padding-top: 1em;
  padding-bottom: 1em;

  font-family: "Roboto", serif;
  font-weight: 600;
  color: #2b2b2b;
}



/* form */

.card-form {
  padding-top: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
  margin-bottom: 1em;

  background-color: #fff;
}

.card-form__input {
  color: #2b2b2b;
  border: 1px solid #2b2b2b;
  width: 80%;
  padding: 0.4em 0.25em;
  margin-bottom: 1em;
  font-size: 1.5em;
  border-radius: 4px;
  background-color: #dadedf;
  border: 0;
  box-shadow: 0;
}

.input__label {
  display: flex;
  justify-content: flex-start;
  padding-left: 5.5em;

}




.card-form__button {
  padding: 0.5em 4em;
  margin-bottom: 1em;
  margin-top: 1em;

  border-radius: 2px;
  border: 1px;
  background-color: #f58b47;
  font-size: 1.25em;
  color: #fff;
}

.card-form__button:hover {
  background-color: #F26d21;
}

.clear {
  margin-left: 1em;
  margin-top: .5em;
  margin-right: 1em;
  padding: 0.25em 0.5em;
  border-radius: 40px;
  float: left;
}

.clear:hover {
  background-color: #dadedf;
  cursor: pointer;

}

.card-notification {
  margin: 0;
  padding: 0.5em 0;
  color: #fff;
  background-color: #f58b47;
  animation: appear .3s;

}

@keyframes appear {
  from {
    width: 20%;
  }
  to {
    width: 100%;
  }
}

/*Study*/

.card-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.card {
  background-color: #fff;
  border-radius: 2px;
  width: 80%;
}

.card__question {
  padding-bottom: 1em;
}

.card__question__text {
  font-style:italic;
}

.card__answer {
  padding-bottom: 1em;
  background-color: #fff;
  width: 80%;
  align-self: center;
}

.card__question__nav {
  font-size: 2em;
}

.card__question__nav:hover {
  color: #F26d21;
  cursor: pointer;
}

.study-mode {
  margin-left: 1em;
  align-self: center;
  padding-bottom: 3px;
}

.study-mode:hover {
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom:2px solid #F58B4C;
}

.study-mode--active {
  color: #000;
  padding-bottom: 2px;
  border-bottom: 2px solid #F26d21;
  margin-left: 1em;
  align-self: center;
}


/*Categories*/

.categories {
  width: 600px;
  background-color: #fff;
  border-color: #CBC9CF;
  margin-bottom: 1em;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;

}

.categories__list__item {
  /*flex-grow, flew-shrink, length*/
  flex: 1 0 25%;
}
.categories__list__item--active {
  flex: 1 0 25%;
  background-color: #43ABC9;

}

.categories__list__item:hover {
  background-color: #43ABC9;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.questions__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.questions__list__item {
  border: 1px solid #CBC9CF;
  background-color: #fff;
  margin-bottom: 0.5em;
}

.list__item__text {
  display: flex;
  margin-left: 1em;
}

.list__item__delete {
  display: inline;
  float: right;
  margin: 0.3em 0.3em;

  padding: 0;
  color: #2b2b2b;
  font-size: 0.8em;
}

.list__item__delete:hover {
  cursor: pointer;
}

.list__item__edit {
  float: right;
  margin: 0.3em 0.3em;
}


/*Front page*/

.front-page {
  display: flex;
  flex-direction: column;
  color: #107896;

}

.front-page__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-page__header__title {
  color: #f58b47;
}


.front-page__content {
  margin-top: 1em;
  background-color: #fff;
  color: #2b2b2b;
  padding: 1em 2em;
  border-radius: 3px;
  text-align: left;
}

.front-page__content__title {
  font-size: 1.2em;
}

.front-page__link {
  display: flex;
  justify-content: center;
  padding: 0.5em 4em;
  margin-bottom: 0.5em;
  margin-top: 3em;

  border-radius: 2px;
  border: 1px;
  background-color: #f58b47;
  font-size: 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.front-page__link:hover {
  background-color: #F26d21;
}


/*Media queries*/

@media screen and (max-width: 600px) {
  .input__label {
    padding-left: 4em;
  }
}