@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.App {
  text-align: center;

  font: 16px "Open Sans", sans-serif;
  background-color: #F0F0F0;
}

/* header & navigation */
.header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  height: 60px;

  font-family: "Roboto", serif;
  background: #107896;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}


.navigation__link {
  display:inline-block;
  padding-bottom: 2px;

  color: #fff;
  text-decoration: none;
}

.navigation__link_active {
  color: #F58B4C;
}

.navigation__link:hover {
  padding-bottom: 1px;
  border-bottom:1px solid #F58B4C;
}


/*content */


.content {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
}

.container__title {
  display: flex;
  align-content: flex-start;

  padding: 1em 1em;
  border-color: #CBC9CF;

  font-family: "Roboto", serif;
  font-weight: 600;
  color: #2b2b2b;
  border-radius: 2px;
}


/* form */

.card-form {
  padding-top: 3em;
  padding-bottom: 1em;

  background-color: #fff;
}

.card-form__input {
  color: #333333;
  border: 1px solid #333333;
  width: 80%;
  padding: 0.5em 0.25em;
  margin-bottom: 1em;
  font-size: 1.5em;
  border-radius: 4px;
  background-color: #dadedf;
  border: 0;
  box-shadow: 0;
}

.input__label {
  display: flex;
  justify-content: flex-start;
  padding-left: 3.5em;

}



.card-form__button {
  padding: 0.5em 4em;
  margin-bottom: 0.75em;

  border-radius: 2px;
  border: 1px;
  background-color: #f58b47;
  background-color: #F26d21;
  font-size: 1.25em;
  color: #fff;
}

.card-form__button:hover {
  background-color: #da621e;
}

/*Study*/

.card {
  background-color: #fff;
  border: 1px solid #CBC9CF;
}

.card__question {
  border-bottom: 1px solid #CBC9CF;
  padding-bottom: 1em;
}

.card__question__text {
  font-style:italic;
}

.card__answer {
  padding-bottom: 1em;
}

.fontawesome-arrow-left {
  float: left;
}
.fontawesome-arrow-right {
  float: right;
}


/*Categories*/

.categories {


  background-color: #fff;
  border: 1px solid #CBC9CF;

}

.categories__list {
  list-style: none;
}

.categories__list__item {
  border-bottom: 1px solid #CBC9CF;
  padding-top: 1em;
}

.categories__list__item a {
  color: #000;
  text-decoration: none;
}

.categories__list__item a:active {
  background-color: #000;
}

.questions {


}

.questions__list {
  list-style: none;
}

.questions__list__item {
  width: 100%;
  display: inline-block;
  border: 1px solid #CBC9CF;
  background-color: #fff;
}

.questions__list__item:nth-child(even){
	border-bottom: 0;
  border-top: 0;
  background-color: #BDD4DE;
}
